.cardImg {
  height: 100px;
  width: 100px;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #450a0a;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  color: white;
  overflow: hidden;
  appearance: none;
  border: 1px solid #7f1d1d;
  transition: 0.2s;
}

.card:hover {
  border: 2px solid #450a0a;
}

.card:active {
  border: none;
}

.card img {
  pointer-events: none;
}
