.cardImg {
  height: 100px;
  width: 100px;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #450a0a;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  color: white;
  overflow: hidden;
}
